<div class="email-footer" style="background: #ecedef; text-align: center; padding: 16px 24px;font-family:'futura-pt',Helvetica,Arial,'Lucida Grande',sans-serif;">
    <p>
      <a href="tel:8885053876" style="color: #222222; text-decoration: none;">888-505-EURO(3876)</a>
      &emsp;
      <a href="https://www.europatex.com/contact-us" class="footer-link" style="color: #30312E; text-decoration: none;">Contact Us</a>
      &emsp;
      <a href="https://www.europatex.com/user" class="footer-link" style="color: #30312E; text-decoration: none;">My Account</a>
      &emsp;
      <a href="https://www.europatex.com/products" class="footer-link" style="color: #30312E; text-decoration: none;">Shop</a>
    </p>
    <p>
      <a href="https://www.facebook.com/Europatex" class="social" style="color: #222222; text-decoration: none;background-color: #4e4e4e;display: inline-block;width: 44px;height: 44px;line-height: 44px;vertical-align: middle;border-radius: 4px;">
        <img src="{{ url('<front>') }}themes/custom/europatex/libraries/global_css/src/images/email--facebook.png" style="width: 14px;height: auto;vertical-align: middle;" width="20" height="38" alt="Facebook">
      </a>
      <a href="https://twitter.com/EuropaTex" class="social" style="color: #222222; text-decoration: none;background-color: #4e4e4e;display: inline-block;width: 44px;height: 44px;line-height: 44px;vertical-align: middle;border-radius: 4px;">
        <img src="{{ url('<front>') }}themes/custom/europatex/libraries/global_css/src/images/email--twitter.png" style="width: 25px;height: auto;vertical-align: middle;" width="36" height="30" alt="Twitter">
      </a>
      <a href="https://www.pinterest.com/europatex" class="social" style="color: #222222; text-decoration: none;background-color: #4e4e4e;display: inline-block;width: 44px;height: 44px;line-height: 44px;vertical-align: middle;border-radius: 4px;">
        <img src="{{ url('<front>') }}themes/custom/europatex/libraries/global_css/src/images/email--pinterest.png" style="width: 19px;height: auto;vertical-align: middle;" width="28" height="38" alt="Pinterest">
      </a>
      <a href="https://www.instagram.com/europatexinc" class="social" style="color: #222222; text-decoration: none;background-color: #4e4e4e;display: inline-block;width: 44px;height: 44px;line-height: 44px;vertical-align: middle;border-radius: 4px;">
        <img src="{{ url('<front>') }}themes/custom/europatex/libraries/global_css/src/images/email--instagram.png" style="width: 23px;height: auto;vertical-align: middle;" width="32" height="34" alt="Instagram">
      </a>
    </p>
  </div>
