@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w3rlbv');
  src:  url('fonts/icomoon.eot?w3rlbv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w3rlbv') format('truetype'),
    url('fonts/icomoon.woff?w3rlbv') format('woff'),
    url('fonts/icomoon.svg?w3rlbv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e900";
}
.icon-alert-octagon:before {
  content: "\e901";
}
.icon-alert-triangle:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-down-circle:before {
  content: "\e905";
}
.icon-arrow-down-left:before {
  content: "\e906";
}
.icon-arrow-down-right:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-left-circle:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-arrow-right-circle:before {
  content: "\e90b";
}
.icon-arrow-up:before {
  content: "\e90c";
}
.icon-arrow-up-circle:before {
  content: "\e90d";
}
.icon-arrow-up-left:before {
  content: "\e90e";
}
.icon-arrow-up-right:before {
  content: "\e90f";
}
.icon-at-sign:before {
  content: "\e910";
}
.icon-award:before {
  content: "\e911";
}
.icon-bell:before {
  content: "\e912";
}
.icon-bell-off:before {
  content: "\e913";
}
.icon-book:before {
  content: "\e914";
}
.icon-book-open:before {
  content: "\e915";
}
.icon-bookmark:before {
  content: "\e916";
}
.icon-briefcase:before {
  content: "\e917";
}
.icon-calendar:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e919";
}
.icon-check1:before {
  content: "\e91a";
}
.icon-check-circle1:before {
  content: "\e91b";
}
.icon-check-square:before {
  content: "\e91c";
}
.icon-chevron-down1:before {
  content: "\e91d";
}
.icon-chevron-left1:before {
  content: "\e91e";
}
.icon-chevron-right1:before {
  content: "\e91f";
}
.icon-chevron-up1:before {
  content: "\e920";
}
.icon-chevrons-down:before {
  content: "\e921";
}
.icon-chevrons-left:before {
  content: "\e922";
}
.icon-chevrons-right:before {
  content: "\e923";
}
.icon-chevrons-up:before {
  content: "\e924";
}
.icon-clipboard:before {
  content: "\e925";
}
.icon-clock:before {
  content: "\e926";
}
.icon-coffee:before {
  content: "\e927";
}
.icon-compass1:before {
  content: "\e928";
}
.icon-copy1:before {
  content: "\e929";
}
.icon-corner-down-left:before {
  content: "\e92a";
}
.icon-corner-down-right:before {
  content: "\e92b";
}
.icon-corner-left-down:before {
  content: "\e92c";
}
.icon-corner-left-up:before {
  content: "\e92d";
}
.icon-corner-right-down:before {
  content: "\e92e";
}
.icon-corner-right-up:before {
  content: "\e92f";
}
.icon-corner-up-left:before {
  content: "\e930";
}
.icon-corner-up-right:before {
  content: "\e931";
}
.icon-credit-card:before {
  content: "\e932";
}
.icon-crosshair:before {
  content: "\e933";
}
.icon-disc:before {
  content: "\e934";
}
.icon-dollar-sign:before {
  content: "\e935";
}
.icon-download1:before {
  content: "\e936";
}
.icon-download-cloud:before {
  content: "\e937";
}
.icon-edit:before {
  content: "\e938";
}
.icon-edit-2:before {
  content: "\e939";
}
.icon-external-link:before {
  content: "\e93a";
}
.icon-facebook:before {
  content: "\e93b";
}
.icon-file:before {
  content: "\e93c";
}
.icon-file-minus:before {
  content: "\e93d";
}
.icon-file-plus:before {
  content: "\e93e";
}
.icon-file-text:before {
  content: "\e93f";
}
.icon-film:before {
  content: "\e940";
}
.icon-flag:before {
  content: "\e941";
}
.icon-folder:before {
  content: "\e942";
}
.icon-gift:before {
  content: "\e943";
}
.icon-globe:before {
  content: "\e944";
}
.icon-hard-drive:before {
  content: "\e945";
}
.icon-headphones:before {
  content: "\e946";
}
.icon-heart:before {
  content: "\e947";
}
.icon-help-circle:before {
  content: "\e948";
}
.icon-home:before {
  content: "\e949";
}
.icon-image:before {
  content: "\e94a";
}
.icon-inbox:before {
  content: "\e94b";
}
.icon-info:before {
  content: "\e94c";
}
.icon-instagram:before {
  content: "\e94d";
}
.icon-layout:before {
  content: "\e94e";
}
.icon-linkedin1:before {
  content: "\e94f";
}
.icon-loader:before {
  content: "\e950";
}
.icon-lock:before {
  content: "\e951";
}
.icon-mail:before {
  content: "\e952";
}
.icon-map:before {
  content: "\e953";
}
.icon-map-pin:before {
  content: "\e954";
}
.icon-menu:before {
  content: "\e955";
}
.icon-message-circle:before {
  content: "\e956";
}
.icon-message-square:before {
  content: "\e957";
}
.icon-mic:before {
  content: "\e958";
}
.icon-minus:before {
  content: "\e959";
}
.icon-minus-circle1:before {
  content: "\e95a";
}
.icon-minus-square:before {
  content: "\e95b";
}
.icon-monitor:before {
  content: "\e95c";
}
.icon-more-horizontal:before {
  content: "\e95d";
}
.icon-more-vertical:before {
  content: "\e95e";
}
.icon-music:before {
  content: "\e95f";
}
.icon-pause:before {
  content: "\e960";
}
.icon-pause-circle:before {
  content: "\e961";
}
.icon-phone:before {
  content: "\e962";
}
.icon-phone-call:before {
  content: "\e963";
}
.icon-play:before {
  content: "\e964";
}
.icon-play-circle:before {
  content: "\e965";
}
.icon-plus:before {
  content: "\e966";
}
.icon-plus-circle1:before {
  content: "\e967";
}
.icon-plus-square:before {
  content: "\e968";
}
.icon-printer:before {
  content: "\e969";
}
.icon-refresh-ccw:before {
  content: "\e96a";
}
.icon-rotate-ccw:before {
  content: "\e96b";
}
.icon-rotate-cw:before {
  content: "\e96c";
}
.icon-rss:before {
  content: "\e96d";
}
.icon-search:before {
  content: "\e96e";
}
.icon-send:before {
  content: "\e96f";
}
.icon-settings:before {
  content: "\e970";
}
.icon-share:before {
  content: "\e971";
}
.icon-share-2:before {
  content: "\e972";
}
.icon-shopping-cart:before {
  content: "\e973";
}
.icon-sliders:before {
  content: "\e974";
}
.icon-star:before {
  content: "\e975";
}
.icon-tablet:before {
  content: "\e976";
}
.icon-tag:before {
  content: "\e977";
}
.icon-target:before {
  content: "\e978";
}
.icon-thumbs-down:before {
  content: "\e979";
}
.icon-thumbs-up:before {
  content: "\e97a";
}
.icon-tool:before {
  content: "\e97b";
}
.icon-trash-2:before {
  content: "\e97c";
}
.icon-truck:before {
  content: "\e97d";
}
.icon-tv:before {
  content: "\e97e";
}
.icon-twitter:before {
  content: "\e97f";
}
.icon-umbrella:before {
  content: "\e980";
}
.icon-unlock:before {
  content: "\e981";
}
.icon-upload1:before {
  content: "\e982";
}
.icon-upload-cloud:before {
  content: "\e983";
}
.icon-user:before {
  content: "\e984";
}
.icon-users:before {
  content: "\e985";
}
.icon-video:before {
  content: "\e986";
}
.icon-volume:before {
  content: "\e987";
}
.icon-volume-1:before {
  content: "\e988";
}
.icon-volume-2:before {
  content: "\e989";
}
.icon-volume-x:before {
  content: "\e98a";
}
.icon-watch:before {
  content: "\e98b";
}
.icon-x:before {
  content: "\e98c";
}
.icon-x-circle:before {
  content: "\e98d";
}
.icon-x-octagon:before {
  content: "\e98e";
}
.icon-x-square:before {
  content: "\e98f";
}
.icon-youtube:before {
  content: "\e990";
}
.icon-zoom-in:before {
  content: "\e991";
}
.icon-zoom-out:before {
  content: "\e992";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-download:before {
  content: "\f019";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle1:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-upload:before {
  content: "\f093";
}
.icon-phone1:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter1:before {
  content: "\f099";
}
.icon-facebook1:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-angle-left1:before {
  content: "\f104";
}
.icon-angle-right1:before {
  content: "\f105";
}
.icon-angle-up1:before {
  content: "\f106";
}
.icon-angle-down1:before {
  content: "\f107";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube1:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-instagram1:before {
  content: "\f16d";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-file-archive-o:before {
  content: "\f1c6";
}
.icon-file-zip-o:before {
  content: "\f1c6";
}
.icon-file-audio-o:before {
  content: "\f1c7";
}
.icon-file-sound-o:before {
  content: "\f1c7";
}
.icon-file-movie-o:before {
  content: "\f1c8";
}
.icon-file-video-o:before {
  content: "\f1c8";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-vimeo1:before {
  content: "\f27d";
}
.icon-blind:before {
  content: "\f29d";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
